.example-form {
    // min-width: 150px;
    // max-width: 450px;
    //  width: 100%;
     height: fit-content;;
   }
   
   .example-full-width {
     width: 70%;
     text-align: center;
   }

   .toggle-link{
    // margin-top: 20px;
    color: blueviolet;
    font-size: 14px;
    // text-align: center;
    cursor: pointer;
}

.example-form .example-margin {
    margin-left: 0px;
    margin-top: 10px;
  }

  .forgotpasw{
    // margin-top: 20px;
    color: blueviolet;
    font-size: 14px;
    // text-align: center;
    cursor: pointer;
}